.side
  .side__header
    %h4.side__header__user-name
      モーモ
    .side__header__icons
      = link_to do
        = fa_icon 'edit', class: 'icon'

      =link_to do
        = fa_icon 'cog', class: 'icon'

  .side__bottom
    .side__bottom__group
      .side__bottom__group-name
        もーもー小隊

      .side__bottom__group-message
        まだメッセージはありません。
