.wrapper
  .side
    .side__top
      %h4.side__top__user-name
        モーモ

    .side__bottom
      .side__bottom__group
        .side__bottom__group-name
          もーもーグループ

        .side__bottom__group-message
          まだメッセージはありません。

  .main
    .main__top
      .main__top__left
        .main__top__left__group-name
          もーもーグループ
        .main__top__left__members
          members: モーモ
      .main__top__right
        edit

    .main__bottom
      .main__bottom__messages
        .main__bottom__user-name
          モーモ
        .main__bottom__posted-time
          2018/06/13/ 00:00:00
        .main__bottom__content
          ンモンモンモンモンモ
