.wrapper
  = render 'shared/side'

  .main
    .main__header
      = render 'shared/header'

    .main__middle
      = render partial: 'shared/message', collection: @messages

    .main__bottom
      = render 'shared/bottom'
