.main__bottom__form
  .main__bottom__form__text
    = text_field :message, :text, placeholder: "type a message", class: "text"
  %label.main__bottom__form__image
    = fa_icon("image")
    %input{type: "file", id: "file"}

.main__bottom__send
  %input{type: "submit", value: "Send", class: "main__bottom__send"}
