.main__header__left
  .main__header__left__group-name
    = @group.name
  .main__header__left__members
    Members:
    - @group.group_users.each do |group_user|
      = group_user.user.name
.main__header__right
  = link_to 'Edit',  edit_group_path(@group), class: "group-edit"
