.main__middle__messages
  .main__middle__messages__user-name
    = message.user.name
  .main__middle__messages__posted-time
    = message.created_at
  .main__middle__messages__content
    - if message.content.present?
      = message.content

    = image_tag message.image.url if message.image.present?
