.wrapper{
  .main {
    width: calc(100vw - 300px);
    height: 100vh;
    float: right;

    .main__top {
      height: 100px;
      border-bottom: thin solid $light_gray;
      background-color: $white;
      padding: 0 40px;

      .main__top__left {
        @include clearfix;
        float: left;

        .main__top__left__group-name {
          padding: 30px 0 10px ;
          font-size: 20px;
          color: $black;
        }
        .main__top__left__members {
          font-size: 12px;
          color: $gray;
        }
      }

      .main__top__right {
        float: right;
        @include clearfix;

        a {
          line-height: 40px;
          padding: 0 20px;
          border: thin solid $light_blue;
          color: $light_blue;
          display: inline-block;
          text-decoration: none;
          margin-top: 28px;
        }
      }
    }

    .main__middle {
      height: calc(100vh - 100px - 90px - 46px);
      padding: 46px 40px 0;
      overflow: scroll;

      .main__middle__messages {
        padding-bottom: 46px;

        .main__middle__user-name {
          font-size: 16px;
          color: $deep_blue;
          font-weight: bold;
          float: left;
        }

        .main__middle__posted-time {
          margin-left: 10px;
          color: $gray;
          font-size: 12px;
          float: left;
        }

        .main__middle__content {
          font-size: 14px;
          color: $deep_blue;
          clear: both;
          padding-top: 10px;
        }
      }
    }

    .main__bottom {
      background-color: $pale_gray;
      padding: 18px 35px 17px ;
      @include clearfix();
      font-size: 16px;
      color: $deep_blue;

      .main__bottom__form {
        line-height: 50px;
        float: left;

        .main__bottom__form__text {
          .text {
            width: 920px;
            height: 50px;
            float: left;
            position: relative;
            padding-left: 10px;
          }
        }

        .main__bottom__form__image {
          float: right;
          position: absolute;
          right: 200px;
          font-size: 20px;

        #file {
            display: none;
          }
        }
      }

      .main__bottom__send {
        line-height: 50px;
        margin: 0 10px;
        padding: 0 10px;
        border: thin solid $light_blue;
        color: $white;
        background-color: $light_blue;
        display: inline-block;
        float: left;
      }
    }
  }
}
