.wrapper {
  .side {
    width: 300px;
    height: 100vh;
    float: left;
    color: $white;

    &__header {
      height: 100px;
      background-color: $more_dark_blue;
      padding: 0 20px;
      line-height: 100px;

      &__user-name {
        float: left;
        font-size: 16px;
        font-weight: bold;
        display: inline-block;
      }

      &__lists {
        display: inline-block;
        float: right;
        .list {
          display: inline-block;
        }
        .icon {
          color: $white;
          font-size: 20px;
        }
      }
    }

    &__bottom {
      height: calc(100vh - 100px);
      background-color: $less_dark_blue;
      padding: 0 20px;
      width: 260px;

      &__group {
        box-sizing: border-box;
        padding: 20px 0 40px;
        &-name {
          font-size: 15px;
          color: $white;
        }

        &-message {
          font-size: 11px;
          color: $white;
          margin-top: 5px;
        }
      }
    }
  }
}
